body {
    margin: 0;
    min-height: 100vh;
    background-color: #e8f5e9;
    font-family: Arial, sans-serif;
}

main {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 40%;
    padding: 2rem;

    background-color: white;

    border: 0.15rem solid green;
    border-radius: 1rem;

    box-shadow: 0 0.5rem 1rem #bdbdbd;
}

.formulario h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.subtitulo {
    display: block;
    color: green;
    font-size: 1.5rem;
    border-bottom: 0.15rem solid green;
    padding-bottom: 0.5rem;
}

.campo {
    margin-bottom: 1.5rem;
}

.campo label {
    display: block;
    margin-bottom: 0.5rem;
    color: green;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;

    border: 0.1rem solid #999;
    border-radius: 0.5rem;
}

.campo textarea {
    height: 8rem;
}

button {
    width: 100%;
    padding: 0.8rem;

    background-color: green;
    color: white;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}